*.exe
*.cpp.bin
**/number theory/*.cpp.bin
**/*.cpp.bin
/number theory/tempCodeRunnerFile.cpp
/number theory/tempCodeRunnerFile.exe
/tree/tempCodeRunnerFile.exe
/tree/tempCodeRunnerFile.cpp

DSA/**/*.exe